<?xml version="1.0"?>
<launch>
  <!--arg name="world_name" value="$(find aimove_gd_robotchallenge)/worlds/simulation.world"/-->
  <include file="$(find ur_gazebo)/launch/ur3_joint_limited.launch">
  </include>
  <!--include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find aimove_gd_robotchallenge)/worlds/simulation.world"/>
  </include-->
</launch>
